.title{
    padding: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.uploadfilecontainer {
    background-image: url("../../../assets/img/drag-drop-here.PNG");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
  }

  .stepupload{
    background-image: url("../../../assets/img/drag-drop-here.PNG");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 120px;
    width: 100%;
    margin: 20px auto;
    border: 2px dashed #cacaca;
    border-radius: 10px;
  }
  
  .uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }
  .stepupload:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
  }

  .files-step{
    margin-top: 10px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    width: 100px;
    height: 75px;
  }

  .files-step .delete-file img{
    width:20px;
  }

  .delete-file{
    width: 24px;
    height: 24px;
  }
  
  .files-list {
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
  }

  .delete-file{
      position: absolute;
      top: 0;
      right: 0;
  }

  .preview{
      max-width: 250px;
      min-width: 250px;
      max-height: 200px;
      min-height: 200px;
      border-radius: 10px;
      border: 1px dashed orange; 
  }

  .preview-step{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 10px;
  }
  
  .files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .files-list .delete-file img{
    width:30px;
  }
  .mat-form-field{
      line-height: 2;
      width: 100%;
  }

  .form-submit{
      margin-top: 2rem;
      border: 1px solid grey;
      border-radius: 12px;
  }

  .form-submit .head {
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 20px;
  }

  .add-btn{
      margin: 1rem;
  }

  .step{
    display: flex;
  }

  .step-number{
    padding: 6px;
    text-align: center;
    background: #ff5722;
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    margin: 1.5em;
  }

  .step-content{
      display: flex;
      width: 80%;
  }

  .step-content .mat-form-field{
      margin: 0 2rem;
  }

  .head{
    font-size: 24px;
    margin: 2rem 0;
    font-weight: bold;
  }

  .step-box{
    float: left;
    width: 100%;
    border-radius: 12px;
    position: relative;
    margin-bottom: 15px;
    border: .5px solid grey;
    padding: 30px;
  }

  .step-direction{
    width: 100%;
  }

  .post-box{
    background-color: white;
    overflow: hidden;
    padding: 24px;
}