<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger" style="display: flex; justify-content: space-between;">
                        <h4 class="card-title ">Tips</h4>
                        <button class="btn btn-primary btn-sm" style="float: right; margin-top: 4px; font-size: 13px;"
                            routerLink="/create-tip">
                            <span class="fa fa-plus"></span>
                            <span>
                                Add Tip
                            </span>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th style="text-align: center;">
                                        Number
                                    </th>
                                    <th style="text-align: center;">
                                        Name
                                    </th>
                                    <th style="text-align: center;">
                                        Status
                                    </th>

                                    <th style="text-align: center;">
                                        Action
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tip of tips">
                                        <td style="text-align: center;">
                                            {{tip.id}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{tip.name}}
                                        </td>
                                        <td style="text-align: center;">
                                            {{(tip.status)===0?'Pending':''}}
                                            {{(tip.status)===1?'Approved':''}}
                                            {{(tip.status)===2?'Paid':''}}
                                            {{(tip.status)===3?'Free':''}}
                                            {{(tip.status)===4?'Reject':''}}
                                        </td>

                                        <td style="text-align: center;">
                                            <!-- <button class="btn btn-primary fa fa-eye"
                                                routerLinkActive="router-link-active" style="font-size: 14px;"></button> -->
                                            <button [routerLink]="['/edit-tip',tip.id]"
                                                class="btn btn-primary fa fa-edit" replaceUrl="true"
                                                queryParamsHandling="merge" style="font-size: 14px;"></button>
                                            <button (click)="onDelete(tip.id)" class="btn btn-primary fa fa-trash"
                                                type="submit" style="font-size: 14px;"></button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div *ngIf="totalRecords > 0 else nondata" style="margin-left: 37%;">
                                <nav>
                                    <ul class="pagination">
                                        <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="5"
                                            [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"
                                            (pageChange)="loadPages($event, condition.PageSize)"></ngb-pagination>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>