<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Username
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Vip status
                                  </th>
                                  <th>
                                      Register Date
                                  </th>
                                  <th>
                                      Expire Date
                                  </th>
                                  <th>
                                      Status Payment
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of users">
                                    <td style="text-align: center;">
                                        {{item.id}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{item.username}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{item.email}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{(item.isVip === 1)? 'Yes':'No'}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{stringToDate(item.registerDate)}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{stringToDate(item.expireDate)}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{(item.statusPayment===1)?'Monthly Subscription ':''}}
                                        {{(item.statusPayment===2)?'Yearly Subscription  ':''}}
                                    </td>
                                    <td style="text-align: center;">
                                        <button (click)="onActive(item.id)" class="btn btn-primary fa fa-check-square"
                                                type="submit" style="font-size: 13px;">   Active</button>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                          <div *ngIf="totalRecords > 0 else nondata" style="margin-left: 37%;">
                            <nav>
                                <ul class="pagination">
                                    <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="5"
                                        [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true"
                                        (pageChange)="loadPages($event, condition.PageSize)"></ngb-pagination>
                                </ul>
                            </nav>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>